---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Roger Ivens.">
	<main>
		<h1 class="text-8xl text-center leading-[1.4] font-size text-gradient mb-0">
			Roger Ivens
		</h1>
		<p class="text-white">Roger Ivens is your rising star In the action genre, known as the
			'Helicopter Sniper' in Stranger Things S4 EP8, with recent supporting
			roles in Lonesome Soldier, VR and as SWAT commander in Sacrifice,
			and currently working on blockbusters with release dates in the
			Summer and Fall of 2023.
			A killer in film, a lover of life with an international background, while
			standing at 6'2", 220lbs, with stunt, actual combat and acting training
			galore, makes Roger Ivens a presence to be reckoned with as your door
			kicker in film.</p>
		<p class="text-6xl text-center mb-6 text-gray-300">Actor</p>
		<div class="m-auto text-center leading-loose mt-4 flex flex-row flex-wrap gap-6 gap-y-2 m-auto flex-center justify-center mb-6">
			<p><a class="text-xl text-center text-gray-400 leading-[1] my-0" href="https://resumes.actorsaccess.com/rogerivens" target="_blank">ActorsAccess.com</a></p>
			<p><a class="text-xl text-center text-gray-400 leading-[1] my-0" href="https://www.spotlight.com/7613-0165-6467" target="_blank">Spotlight.com</a></p>
			<p><a class="text-xl text-center text-gray-400 leading-[1] my-0" href="https://www.imdb.com/name/nm10876025/" target="_blank">IMDb.com</a></p>
		</div>
		<img src="roger_03.png" class="bg-slate-500 w-[90%] m-auto rounded-[20px]" alt="Roger Ivens - Actor">
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #21274a, #9e9bb8, #9e9bb8 );
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>
