---
import Layout from '../layouts/Layout.astro';
import RogerIvens from '../components/rogerIvens.astro';
import Contact from '../components/contact.astro';
import PanelStrangerThings from '../components/panelStrangerThings.astro';
import PanelHorseVid from '../components/panelHorseVid.astro';
import Links from '../components/links.astro';
import Content from '../components/content.astro';
import PanelActingReel from '../components/panelActingReel.astro';
import PanelPretendWorld from '../components/panelPretendWorld.astro';
import Slides from '../components/slides3.vue';
---

<Layout title="Roger Ivens - Actor">

	<div class="w-screen h-screen z-50 2xl:max-w-6xl 2xl:m-auto overflow-auto relative">
		<div class="grid w-full relative z-50">

			<RogerIvens class="name" />

			<div class="slideshow">
				<Slides client:load class="z-20 m-auto" />
			</div>

			<Contact class="contact" />

			<Links class="links" />

			<PanelStrangerThings class="strangerThings" />

			<PanelHorseVid class="horseVid" />

			<Content class="content" />

			<div class="extras w-full flex flex-wrap gap-2">

				<PanelActingReel />

				<PanelPretendWorld />

			</div>

		</div>
	</div>

</Layout>

<style lang="scss" is:global>
	.grid {
		width: 100%;
		// height: 100%;
		padding: 2rem 2.5rem;
		margin: 0 auto;
		//
		display: grid;
		gap: 0rem 2rem;
		grid-template-columns: 2fr 4fr;
		gap: .5rem 2rem;
		grid-auto-rows: min-content min-content min-content auto;

		grid-template-areas: "slideshow name"
                         "slideshow contact"
                         "slideshow links"
                         "slideshow strangerThings"
                         "slideshow horseVid"
                         "slideshow contentDiv"
                         "slideshow extras"
												 ;
		@media screen and (max-width: 800px) {
			padding: 1rem 1.25rem;
			grid-template-columns: 1fr;
			gap: .5rem 2rem;
			grid-auto-rows: initial;
			justify-items: center;
			//
			grid-template-areas: "name"
												   "slideshow"
													 "contact"
													 "links"
													 "strangerThings"
													 "horseVid"
													 "contentDiv"
													 "extras"
													 ;
		}

	}
	.name
	.slideshow
	.contact
	.links
	.contentDiv {
		//
	}
	.name {
		grid-area: name;
    margin: auto;
	}
	.slideshow {
		grid-area: slideshow;
    margin-bottom: auto;
		max-height: 50vh;

		img {
			max-height: 90vh;
		}
	}

	@media screen and (max-width: 800px) {
		.slideshow {
			max-height: 100%;
			max-width: 520px;
			img {
				max-height: initial;
			}
		}
	}
	.contact {
		grid-area: contact;
	}
	.links {
		grid-area: links;
	}
	.contentDiv {
		grid-area: contentDiv;
	}
	.horseVid {
		grid-area: horseVid;
	}
	.extras {
		grid-area: extras;
	}
	.ActingReel {
		grid-area: ActingReel;
	}
	.PretendWorld {
		grid-area: PretendWorld;
	}

	.strangerThings {
		grid-area: strangerThings;
	}
	.videoBlock {
		//
		div {

		}
		div:hover {
			//

			p {
				color: white;
			}

			img {
				border: 2px solid white;
			}
		}

	}

</style>
