---
import Layout from '../layouts/Layout.astro';
import Slides from '../components/slides.vue';

---

<Layout title="Roger Ivens - Actor">
	<!-- RED BAR -->
	<div id="red-bar" class="bg-gradient-to-b from-red-900 to-red-900/0 mix-blend-overlay w-full h-[5.4rem] z-10 absolute top-0 left-0"></div>

	<!-- CONTENT -->
	<div class="w-screen h-screen relative z-20">
		<main class="w-screen h-screen grid lg:grid-flow-col grid-flow-row gap-4 p-6 justify-center overflow-auto lg:w-[100%] m-auto">
			<section id="hero-pic-area" class="min-w-[400px] mx-auto mb-auto">

				<!-- SLIDE SHOW HERE -->
				<!-- SLIDE SHOW HERE -->
				<!-- SLIDE SHOW HERE -->
				<Slides client:load />
				<!-- <img class="aspect-auto max-h-[90vh] rounded-lg md:rounded-br-[60px] m-auto"
					src="/roger-pic.jpg"
					alt="Roger Ivens in Stranger S4 EP8"
				> -->

			</section>
			<section id="content-area" class="">
				<div class="flex flex-row flex-wrap gap-x-8 w-full justify-center">
					<img class="max-h-[3.5rem]" src="./roger-head.svg" alt="Roger">
					<img class="max-h-[3.5rem]" src="./ivens-head.svg" alt="Ivens">
				</div>
				<section id="contact" class="my-3">
					<h3 class="text-l text-center text-shadow leading-[1.3] my-0">
						Agency: Phirgun Mair
					</h3>
					<h5 class="text-l text-center text-shadow leading-[1.3] my-0">Agent: Peter Yanke,
						<a href="tel:5754181037" class="hover:border-b-2">(575)&nbsp;418&#x2011;1037</a>,
						<a href="mailto:phirgunmair@gmail.com" class="hover:border-b-2">phirgunmair@gmail.com</a>
					</h5>
				</section>
				<section id="links" class="flex flex-row flex-wrap gap-x-3 flex-center justify-center mt-0 mb-3">
					<a class="h-[36px] w-[36px]" href="https://www.instagram.com/rogerivens_actor/" target="_blank">
						<img class="hover:drop-shadow-[2px_2px_2px_rgba(0,0,0,.5)]" src="/instagram_logo.svg" alt="Instagram">
					</a>
					<button class="rounded-br-xl bg-red-800 hover:bg-red-900 hover:drop-shadow-[2px_2px_2px_rgba(0,0,0,.5)] px-5 py-1 mb-2">
						<a class="text-center text-white leading-[1] my-0" href="https://resumes.actorsaccess.com/rogerivens" target="_blank">ActorsAccess.com</a>
					</button>
					<button class="rounded-br-xl bg-red-800 hover:bg-red-900 hover:drop-shadow-[2px_2px_2px_rgba(0,0,0,.5)] px-5 py-1 mb-2"><a class="text-center text-white leading-[1] my-0" href="https://www.spotlight.com/7613-0165-6467" target="_blank">Spotlight.com</a></button>
					<button class="rounded-br-xl bg-red-800 hover:bg-red-900 hover:drop-shadow-[2px_2px_2px_rgba(0,0,0,.5)] px-5 py-1 mb-2"><a class="text-center text-white leading-[1] my-0" href="https://www.imdb.com/name/nm10876025/" target="_blank">IMDb.com</a></button>
				</section>
				<section id="content" class="flex flex-col md:flex-row flex-wrap gap-4 scroll-auto">

					<article class="min-w-[300px] flex-1 bg-black/40 p-6 rounded-br-[60px] w-full">
						<p class="text-white text-shadow"><img class="float-left h-[2.65rem]" src="/cap-R.svg">oger Ivens is a rising star in the action genre, known as the 'Helicopter Sniper' in <span class="bg-red-600">Stranger&nbsp;Things</span> S4 EP8, with recent supporting roles in Lonesome Soldier, VR and as SWAT commander in Sacrifice, and currently working on blockbusters with release dates in the Summer and Fall of 2023.
							<br>
							A killer in film, a lover of life with an international background, while standing at 6'2", 220lbs, with stunt, <span class="bg-red-600">actual&nbsp;combat</span> and acting training galore, makes Roger Ivens a presence to be reckoned with as your door kicker in film.
						</p>
						<aside id="bio" class="shrink bg-gradient-to-b from-red-900 to-red-900/30 p-4 mt-2 rounded-br-[30px]">
							<div class="flex flex-row flex-wrap gap-x-3 gap-y-1 content-center items-baseline">
								<img src="/bio.svg" alt="bio" class="h-[1.25rem] mr-4 ">
								<span class="text-sm">Hair: Brown</span>
								<span class="text-sm">Eyes: Brown</span>
								<span class="text-sm">Height: 6&prime;2&Prime;</span>
								<span class="text-sm">Weight: 220lb</span>
								<span class="text-sm">Chest: 42&Prime;</span>
								<span class="text-sm">Waist: 32&Prime;</span>
								<span class="text-sm">Shoe: 12</span>
							</div>
						</aside>
					</article>
				</section>
			</section>
		</main>
	</div>

	<!-- RED BAR -->
	<div id="red-bar" class="bg-gradient-to-t from-red-900 to-red-900/0 mix-blend-overlay w-full h-20 z-10 fixed bottom-0"></div>
</Layout>

<style>

</style>
