<aside id="bio" class="shrink flex flex-row gap-x-3 content-center items-baseline bg-gradient-to-b from-red-900 to-red-900/30 p-4 mt-2 rounded-xl">
  <img src="/bio.svg" alt="bio" class="h-[1.25rem] m-auto">
  <div class="m-auto content-center leading-none ">
    <span class="text-xs leading-1">Hair: Brown</span>
    <span class="text-xs leading-1">Eyes: Brown</span>
    <span class="text-xs leading-1">Height: 6&prime;2&Prime;</span>
    <span class="text-xs leading-1">Weight: 220lb</span>
    <span class="text-xs leading-1">Chest: 42&Prime;</span>
    <span class="text-xs leading-1">Waist: 32&Prime;</span>
    <span class="text-xs leading-1">Shoe: 12</span>
  </div>
</aside>