<aside
  id='bio'
  class='shrink flex flex-row gap-x-3 content-center items-baseline bg-linear-to-b from-red-900 to-red-900/30 p-4 mt-2 rounded-xl'
>
  <img src='/bio.svg' alt='bio' class='h-5 m-auto' />
  <div
    class='flex flex-row flex-wrap items-center gap-x-3 gap-y-1 m-auto text-xs font-medium tracking-wide leading-tight whitespace-nowrap text-red-50'
  >
    <span>Hair: Brown</span>
    <span>Eyes: Brown</span>
    <span>Height: 6&prime;2&Prime;</span>
    <span>Weight: 220lb</span>
    <span>Chest: 42&Prime;</span>
    <span>Waist: 32&Prime;</span>
    <span>Shoe: 12</span>
  </div>
</aside>
