<div class="pt-2">
  <h3 class="text-md text-center text-shadow leading-[1.3]">
    Agency: Phirgun Mair
  </h3>
  <h5 class="text-md text-center text-shadow leading-[1.3] my-0">Agent: Peter Yanke,
    <a href="tel:5754181037" class="hover:border-b-2">(575)&nbsp;418&#x2011;1037</a>,<br>
    <a href="mailto:phirgunmair@gmail.com" class="hover:border-b-2">phirgunmair@gmail.com</a>
  </h5>
</div>