---
import Bio from './bio.astro';
---

<article class="flex-1 bg-black/40 p-6 w-full rounded-2xl rounded-tl-none">
  <p class="text-sm text-white text-shadow"><img class="float-left h-[2.3rem] mr-1" src="/cap-R.svg">oger Ivens is a rising star in the action genre, known as the 'Helicopter Sniper' in <span class="bg-red-600">Stranger&nbsp;Things</span> S4 EP8, with recent supporting roles in Lonesome Soldier, VR and as SWAT commander in Sacrifice, and currently working on blockbusters with release dates in the Summer and Fall of 2023.
    <br>
    A killer in film, a lover of life with an international background, while standing at 6'2", 220lbs, with <span class="bg-red-600">extensive combat,</span> stunt, and acting training makes Roger Ivens a presence to be reckoned with as your door kicker in film.
  </p>

  <Bio />

</article>