<div class="flex flex-row flex-wrap gap-x-2 justify-center content-center">
  <div class="py-2">
    <a class="btn" href="https://www.instagram.com/rogerivens_actor/" target="_blank">Instagram</a>
    <a class="btn" href="https://resumes.actorsaccess.com/rogerivens" target="_blank">ActorsAccess</a>
  </div>
  <div class="py-2">
    <a class="btn" href="https://www.spotlight.com/7613-0165-6467" target="_blank">Spotlight</a>
    <a class="btn" href="https://www.imdb.com/name/nm10876025/" target="_blank">IMDb</a>
  </div>
</div>

<style lang="scss">
  .btn {
		@apply text-xs rounded-full border border-transparent hover:border  bg-slate-900/80 hover:bg-slate-900 hover:drop-shadow-[0px_4px_0px_rgba(0,0,0,.3)] px-4 py-2 text-center text-[#eed5a0] leading-[1] tracking-wide;
	}
</style>