<div class="videoBlock">
  <a href="https://youtu.be/47vnwhvKuHg" target="_blank">
    <div class="bg-white/30 hover:bg-black/50 hover:text-white p-3 rounded-2xl rounded-tl-none flex items-start">
      <img class="mr-4 aspect-auto w-[10rem] h-[6rem] rounded-lg" src="/horse-video.gif" alt="Roger Ivens in Stranger Things">
      <p class="text-md text-black hover:text-white mt-2 text-left font-medium">
        When not killing poor scientists with an 80's era sniper rifle, you can find Roger Ivens honing his Mongolian Mounted archery skills in the New Mexican hinterlands.
      </p>
    </div>
  </a>
</div>