<div class="videoBlock flex-1">
  <a class="" href="https://youtu.be/LryOqL_QJbQ" target="_blank">
    <div class=" bg-white/20 hover:bg-black/30 hover:text-white p-3 rounded-2xl rounded-tl-none flex flex-1 flex-wrap gap-2 items-center justify-center">
      <img class="shrink inline-block gap-3 min-h-[3rem] w-[10rem] h-[6rem] rounded-lg" src="/PretendWorld-pic.png" alt="Roger Ivens in Stranger Things">
      <p class="shrink text-sm text-center leading-tight text-black hover:text-white text-left font-medium">Pretend World's Real People</p>
    </div>
  </a>
</div>