<div class="name flex flex-row flex-wrap gap-x-4 w-full justify-center ">
  <img class="block max-h-[5vh] sm:max-h-[7vh]" src="./roger-head.svg" alt="Roger">
  <img class="block max-h-[5vh] sm:max-h-[7vh]" src="./ivens-head.svg" alt="Ivens">
</div>
