---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
		<link rel="manifest" href="/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#FF1515">
		<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#FF1515">

	</head>
	<body class="m-0 p-0 relative w-screen h-screen overflow-auto ">
		<slot />
	</body>
</html>

<style lang="scss">
	@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(0, 0%, 100%);
	}

	html {
		font-family: 'Courier Prime', monospace;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		@apply bg-[url('/home-base.jpg')] bg-cover;
	}

	$red: rgb(148, 0, 0);

	:global(h1) {
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}


	:global(::-webkit-scrollbar) {
		height: .65rem;
		width: .65rem;
	}
	:global(::-webkit-scrollbar-thumb) {
		background: linear-gradient(
			to bottom,
			$red 0,
			$red 100%
		);
		box-shadow: 0 2px 10px hsl(0deg 0% 0% / 50%);
		border-radius: 100px;
		cursor: pointer;

		&:hover {
			background: $red 100%;
		}
	}

	:global(::-webkit-scrollbar-track) {
		border-radius: 0px;
		box-shadow: inset 2px 2px 6px rgb(0 0 0 / 22%);
		// background-color: hsla(0, 0%, 0%, 0.2);
		// border: 1px solid hsla(0, 0%, 0%, 0.5);

		&:hover {
			background-color: hsla(0, 0%, 0%, 0.3);
		}
	}

	:global(details::-webkit-scrollbar) {
		height: .5rem;
		width: .5rem;

	}

</style>
